body.kristina
    background: rgb(2,0,36)
    background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(121,9,88,0.7) 64%, rgba(0,90,108,0.7) 100%)
    table thead,
    table tbody td,
    select,input
        background: none
    table *
        background: none
        color: white
        option
            color: rgba(121,9,88,0.7)

