.paginate-box
    position: relative
    width: 100%
    height: auto
    display: flex
    justify-content: start
    ul
        height: 100%
        display: flex
        align-items: center
        padding: 5px
        gap: 3px
        li
            list-style: none
            transition: var(--all-transition)
            &.not-border span
                color: var(--paginate-text-color)
                background: var(--active-paginate-backgroun-color)
            a,span
                position: relative
                width: 25px
                height: 25px
                display: grid
                justify-content: center
                align-content: center
                font-size: 1rem
                border-radius: 50%
            a
                color: var(--paginate-pre-text-color)
                transition: var(--all-transition)
                overflow: hidden
                &:hover
                    color: var(--paginate-text-color)
                    background: var(--paginate-backgroun-color)
