@import './thead.sass'
@import './tbody.sass'
    
table
    caption
        padding: 10px 25px
        font-size: .9rem
        font-weight: bold
        color: var(--color-text-default)
        background: var(--background-color-table)