.chat-box
    width: 100%
    height: 100%
    display: grid
    grid-template-rows: 45px 0  auto 55px
    .header
        display: flex
        justify-content: space-between
        align-items: center
        gap: 15px
        padding: 5px 50px
        box-shadow: var(--header-shadow)
        background: var(--background-color-header)
        z-index: 2
        ul
            display: flex
            align-items: center
            gap: 15px
            li
                list-style: none
                display: flex
                gap: 5px
                font-size: 1rem
                color: var(--color-text-default)
                .value
                    color: var(--color-text-pre-default)
        div
            display: flex
            gap: 15px
            a
                padding: 0 10px
                height: 25px

    .message-box
        height: 0
        position: relative
        ul
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 30px
            z-index: 5
    .chat
        height: 100%
        display: flex
        gap: 15px
        flex-direction: column-reverse
        overflow-y: scroll
        padding: 15px 50px
        background: var(--background-color-table-even)
    .options
        padding: 5px 0
        display: flex
        align-items: center
        background: var(--background-color-table-even)
        form
            height: 100%
            display: grid
            grid-auto-flow: column
            grid-template-columns: 45px auto 50px
            gap: 15px
            padding: 0 50px
            label
                display: grid
            label[for="data[message]"]
                width: 100%
                textarea
                    padding: 5px 10px
                    width: 100%
                    height: 100%
                    font-size: .9rem
                    resize: none
                    background: var(--background-color-input)
                    color: var(--color-text-default)
                    &::-webkit-scrollbar
                        display: none


