.system_message
    grid-area: C
    width: 100%
    height: auto
    padding: 10px 150px
    background: var(--chat-system-message-background)
    border-radius: 15px
    span
        color: var(--chat-message-color)
        font-weight: bold
