.system_message
    grid-area: C
    width: 100%
    height: auto
    padding: 10px 150px
    background: var(--header-top-background-color)
    border-radius: 15px
    span
        color: var(--header-top-color)
        font-weight: bold