html:root
    // ################################################
    // ### FONT SIZE ###
    // ################################################
    --default-font-size: 16px
    --small-font-size: .8rem
    --big-font-size: 1.2rem

    --header-strong-font-size: 1.3rem
    --input-font-size: .9rem
    --table-font-size: .85rem

    // ################################################
    // ### BOX SIZE ###
    // ################################################

    // ### HEADER ###
    --header-top-height: 40px
    --header-bottom-height: 50px
    --new-box-width: 60px

    // ### EXCEL ###
    --sheet-list-height: 30px

    // ### TABLE ###
    --min-table-height: 30px

    // ################################################
    // ### BORDER ###
    // ################################################

    // ### DEFAULT ###
    --default-border-width: 1px
    --default-border-style: solid
    --default-border: var(--default-border-width) var(--default-border-style) var(--default-border-color)

    // ### PRE DEFAULT ###
    --pre-default-border-width: 1px
    --pre-default-border-style: solid
    --pre-default-border: var(--pre-default-border-width) var(--pre-default-border-style) var(--pre-default-border-color)

    
    // ################################################
    // ### SHADOW ###
    // ################################################

    // ### DEFAULT ###
    --default-shadow-x-ofset: 0
    --default-shadow-y-ofset: 0
    --default-shadow-blur-radius: 8px
    --default-shadow-spread-radius: 4px
    --default-shadow: var(--default-shadow-x-ofset) var(--default-shadow-y-ofset) var(--default-shadow-blur-radius) var(--default-shadow-spread-radius) var(--default-shadow-color)

    // ### BOTTOM-ONLY ###
    --bottom-only-shadow-x-ofset: 0
    --bottom-only-shadow-y-ofset: 6px
    --bottom-only-shadow-blur-radius: 6px
    --bottom-only-shadow-spread-radius: 0px
    --bottom-only-shadow: var(--bottom-only-shadow-x-ofset) var(--bottom-only-shadow-y-ofset) var(--bottom-only-shadow-blur-radius) var(--bottom-only-shadow-spread-radius) var(--default-shadow-color)

    // ### LEFT-ONLY ###
    --left-only-shadow-x-ofset: -4px
    --left-only-shadow-y-ofset: 8px
    --left-only-shadow-blur-radius: 8px
    --left-only-shadow-spread-radius: 0px
    --left-only-shadow: var(--left-only-shadow-x-ofset) var(--left-only-shadow-y-ofset) var(--left-only-shadow-blur-radius) var(--left-only-shadow-spread-radius) var(--default-shadow-color)

    // ################################################
    // ### ANIMATION ###
    // ################################################
    --all-transition: .5s

    // ################################################
    // ### PADDING ###
    // ################################################
    --header-padding: 0 50px
    --input-padding: 5px 7px
    --label-header-padding: 0 0 0 7px
    --button-padding: 5px

    // ################################################
    // ### BACKDROP ###
    // ################################################
    --default-backdrop-filter: blur(4px)

@import './thems/example'