:root
    /*Общие*/
    --all-transition: .5s

    /*Header*/
    --header-height: 100px
    --header-top-background-color: #131725
    --header-top-color: #97a4b1
    --header-top-color-hover: #fff

    --header-bottom-background-color: #ffffffee
    --header-bottom-color: #131725
    --header-bottom-color-hover: #0f368b

    --modul-background: white
    --modul-background-hover: #97a4b1
    --modul-color: #0f368b
    --modul-color-hover: #fff
    --modul-border-color: rgba(15, 54, 139, 0.5)
    --module-disable-color: #97a4b1

    /*Error*/
    --error-background: #1a202c
    --error-title: #bdc3c7

    /*Excel*/
    --excel-header-backgroun: #0c4600
    --excel-header-color: #ddd

    /* dashboard */
    --blue-shield: #0f368b
    --red-shield: #da3c3c
