html:root
    /* ### BORDER ### */
    --border-width-default: 1px
    --border-style-default: solid
    --border-color-default: #666
    --border-color-pre-default: #999
    --border-default: var(--border-width-default) var(--border-style-default) var(--border-color-default)
    --border-pre-default: var(--border-width-default) var(--border-style-default) var(--border-color-pre-default)

    /* ### SHADOW ### */
    --shadow-default: 0 0 8px 4px var(--background-gray-color)
    --shadow-bottom-only: 0 8px 8px 0px var(--background-gray-color)
    --shadow-left-only: -4px 8px 8px 0px var(--background-gray-color)

    /* ### ANIMATION ### */
    --all-transition: .5s

    /*Header*/
    --header-height: 100px
    --header-top-background-color: var(--background-color-header)
    --header-top-color: var(--color-text-pre-offsite)
    --header-top-color-hover: var(--color-text-offsite)
    --header-shadow: -2px 4px 4px 0px var(--header-shadow-color)
    --header-bottom-background-color: var(--background-color-default)
    --header-bottom-color: var(--color-text-pre-default)
    --header-bottom-color-hover: var(--color-text-blue)
    --modul-color: var(--color-text-blue)

    /*table*/
    --table-background: var(--background-color-default)
    --table-background-green: rgb(57, 94, 38)
    --table-background-purple: rgb(77, 41, 57)
    --table-border-color: #666
    --table-border: 1px solid var(--table-border-color)
    --table-text-size: .85rem
    --table-text-color: #bbb

    --sheet-list-height: 30px


    /*Error*/
    --error-background: #1a202c
    --error-title: #bdc3c7

    /*Excel*/
    --excel-header-backgroun: #0c4600