.excel-box
    width: 100%
    height: calc( 100% - 60px )
    position: absolute

    display: grid
    grid-template-rows: 50px auto 25px
    form
        width: 100%
        max-width: 100%
        overflow-x: scroll
        table
            border-collapse: separate
            border-spacing: 0
            width: 100%
            position: relative
            // sticky
            thead
                position: sticky
                top: 0
                z-index: 1
                th
                    background: white
            tbody tr .td-header
                position: sticky
                left: 0
                background: white
            thead th,
            tbody td
                margin: 0
            // Границы
            th
                border-bottom: 1px solid
                border-right: 1px solid
                font-size: .9rem
            td
                border-bottom: 1px solid
                border-right: 1px solid
                padding: 0
                font-size: .9rem
            tbody tr:first-child td
                border-top: 1px solid
            // Разметка
            td,th,div,span
                cursor: default
            td,th
                div,span,input
                    font-size: inherit
            td
                div
                    width: 100%
                    height: 100%
                    input
                        padding: 0 5px
                        width: 100%
                        height: 50px
                        background: none
                        border: none
                        outline: none
            td.td-header
                padding: 0 5px
    .sheets
        width: 100%
        height: auto
        ul
            display: flex
            align-items: center
            flex-wrap: nowrap
            overflow: hidden
            width: 100%
            height: 100%
            background: #ddd
            li
                height: 100%
                padding: 0 3px
                list-style: none
                display: grid
                justify-content: center
                align-content: center
                border-right: 2px solid #999
                min-width: 25px
                width: auto
                a
                    color: #666
                    font-weight: bold
                    font-size: .85rem
                    transition: car(--all-transition)
                &:hover a
                    color: black
