.excel-box
    width: 100%
    height: calc( 100% - 60px )
    position: absolute

    display: grid
    grid-template-rows: 50px auto 30px
    grid-template-columns: 100%
    &.box-2
        grid-template-rows: auto 30px
        width: 100%
        height: 100%
    form
        width: 100%
        max-width: 100%
        overflow-x: scroll
        table
            border-collapse: separate
            border-spacing: 0
            width: 100%
            position: relative
            caption
                font-size: 1rem
                font-weight: bold
                border-bottom: 1px solid black
                padding: 5px 25px
            // sticky
            thead
                position: sticky
                top: 0
                z-index: 2
                th
                    background: white
            tbody tr .td-header
                position: sticky
                left: 0
                background: #fff
                z-index: 1
            thead th,
            tbody td
                margin: 0
            // Границы
            th
                border-bottom: 1px solid
                border-right: 1px solid
                font-size: .8rem
            td
                border-bottom: 1px solid
                border-right: 1px solid
                padding: 0
                font-size: .8rem
            tbody tr:first-child td
                border-top: 1px solid
            // Разметка
            td,th,div,span
                cursor: default
            td[h='center']
                text-align: center
            td,th
                div,span,input
                    font-size: inherit
            th
                padding: 3px
            td
                position: relative
                div
                    width: 100%
                    height: 100%
                    position: absolute
                    top: 0
                    left: 0
                    input
                        padding: 0 5px
                        width: 100%
                        height: 100%
                        background: none
                        border: none
                        outline: none
                    input[disabled]
                        background: #ddd
                        text-align: center
            td.td-header
                padding: 3px 5px
    .sheets
        width: 100%
        height: auto
        ul
            display: flex
            flex-wrap: nowrap

            width: 100%
            height: 100%
            background: #ddd
            overflow-y: scroll
            li
                height: 100%
                padding: 0 5px
                list-style: none
                display: grid
                justify-content: center
                align-content: center
                border-right: 2px solid #999
                width: initial
                a
                    color: #666
                    font-weight: bold
                    font-size: .8rem
                    transition: car(--all-transition)
                    white-space: nowrap
                &:hover
                    background: #eee
                    a
                        color: black
                &[opened='1']
                    background: #eee
                    a
                        color: black
