*
    margin: 0
    padding: 0
    box-sizing: border-box



    // font-style: italic
    //transition: var(--all-transition)

html
    font-size: 14px
    font-family: 'Roboto'

body
    width: 100vw
    height: 100vh
    overflow: hidden

.no-display,
#no-display
    display: none
