*
    margin: 0
    padding: 0
    box-sizing: border-box

    font-size: 1rem
    font-family: 'Roboto'
    // font-style: italic
    transition: var(--all-transition)

body
    width: 100%
    height: 100vh
    overflow-y: auto
    overflow-x: hidden
    font-size: 14px
    scrollbar-gutter: stable

.no-display,
#no-display
    display: none
