.button
    padding: 5px
    cursor: pointer
    border-radius: 5px
    border: none
    font-weight: 500
    display: grid
    justify-content: center
    align-content: center
    transition: var(--all-transition)

.blue-button
    background-color: #0f368b
    color: #fff
    font-size: 1.1rem
    &:hover
        background-color: #0f368bcc

.red-button
    background-color: #da3c3c
    color: #fff
    font-size: 1.1rem
    &:hover
        background-color: #e05353

.gray-button
    background-color: gray
    color: #fff
    font-size: 1.1rem
    &:hover
        background-color: #aaa

table .button
    padding: 3px 5px
    font-size: inherit

