.button
    min-width: 50px
    height: auto
    padding: 5px 10px

    display: grid
    justify-content: center
    align-content: center

    border-radius: 5px
    border: none

    font-weight: 500
    font-size: var(--input-font-size)

    transition: var(--all-transition)
    cursor: pointer

.blue-button
    background-color: var(--blue-button-hover-background)
    color: var(--button-text-color)
    &:hover
        background-color: var(--blue-button-background)

.red-button
    background-color: var(--red-button-background)
    color: var(--button-text-color)
    &:hover
        background-color: var(--red-button-hover-background)

.gray-button
    background-color: gray
    background-color: var(--background-gray-color)
    &:hover
        background-color: var(--background-gray-color-hover)
