@import './alert.sass'

header
    width: 100%
    display: flex
    flex-direction: column
    z-index: 99
    .top
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 50px
        background-color: var(--header-top-background-color)
        font-size: var(--header-top-font-size)
        color: var(--header-top-color)
        .logo-link
            color: inherit
            font-size: 1.1rem
            strong
                font-size: 1.2rem
        .right-box
            display: flex
            align-items: center
            gap: 5px
            width: auto
            .sign
                display: flex
                gap: 25px
                a
                    font-size: 1.2rem
                    color: inherit
                    &:hover
                        color: var(--header-top-color-hover)
        .user
            display: flex
            align-items: center
            justify-content: flex-end
            gap: 10px
            width: 250px
            color: inherit
            img
                height: 40px
                width: 40px
                border-radius: 50%
            span
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                font-size: 1.2rem
                color: inherit
                &:hover
                    color: var(--header-top-color-hover)
body
    nav.main-nav
        position: sticky
        top: 0
        width: 100%
        height: 60px
        padding: 5px 100px
        display: flex
        align-items: center
        justify-content: space-between

        background: var(--header-bottom-background-color)
        box-shadow: 0 0 6px #333
        backdrop-filter: blur(4px)
        .new
            width: initial
            height: 100%
            img
                width: auto
                height: 100%
        ul.nav-list
            display: flex
            gap: 25px
            li
                list-style: none
                a
                    color: var(--header-bottom-color)
                    font-size: 1.2rem
                    font-weight: 400
                    &:hover
                        color: var(--header-bottom-color-hover)
        ul.modul-list
            position: absolute
            top: 60px
            right: -450px
            width: 450px
            height: calc( 100vh - 110px )
            background: white
            background: var(--modul-background)
            box-shadow: 0px 6px 6px #333

            display: flex
            flex-direction: column
            &.open
                right: 0
            details
                padding: 5px 15px
                font-weight: 500
                summary
                    display: block
                    cursor: pointer
                ul
                    padding: 10px 15px 5px 15px
                    display: flex
                    flex-direction: column
                    gap: 5px
                    list-style: none
                    li
                        position: relative
                        a
                            color: var(--modul-color)
                            cursor: pointer
                        &::after
                            display: block
                            content: ''
                            position: absolute
                            top: 100%
                            left: 0
                            background: var(--modul-border-color)
                            width: 100%
                            max-width: 0
                            height: 2px
                            transition: var(--all-transition)
                        &:hover:after
                            max-width: 100%
                        &[data-disable="true"]
                            &::after
                                display: none
                            a
                                text-decoration: line-through
                                cursor: default
                                color: gray



