input, select, textarea
    font-size: .9rem
    -moz-appearance: textfield
    &[disabled]
        background: #ddd
        text-align: center

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
        display: none
        -webkit-appearance: none
        margin: 0
