input, select, textarea
    font-size: .9rem
    -moz-appearance: textfield
    &[disabled]
        background: #aaa
        text-align: center
        color: black

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
        display: none
        -webkit-appearance: none
        margin: 0