#load-pop-up
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 999

    background: rgba(255, 255, 255, 0.4)
    backdrop-filter: blur(4px)

    display: none
    justify-content: center
    align-content: center
    &.open
        display: grid
#pop-up
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 999

    background: rgba(255, 255, 255, 0.4)
    backdrop-filter: blur(4px)

    display: none
    justify-content: center
    align-content: center
    &.open
        display: grid
