.mini-scroll
    overflow-y: scroll
    scrollbar-gutter: stable
    &::-webkit-scrollbar
        width: 6px
        height: 6px
    &::-webkit-scrollbar-track
        background: #dddddd22
    &::-webkit-scrollbar-thumb
        border-radius: 3px
        background: #aaa
        cursor: pointer
        &:hover
            background: #777
