.division-list
    width: 0
    grid-area: B
    transition: var(--all-transition)
    overflow-x: hidden
    background: var(--admin-page-division-list-background)
    &.open
        width: 350px
    ul
        display: flex
        flex-direction: column
        li
            width: 350px
            list-style: none
            background: var(--admin-page-division-list-background)
            transition: var(--all-transition)
            a
                font-size: .9rem
                display: block
                width: 100%
                height: 100%
                padding: 5px 10px
                color: var(--pre-default-text-color)
                font-weight: bold
                transition: var(--all-transition)
            &:first-child
                border-top: var(--default-border)
            &:hover
                background: var(--admin-page-division-list-hover-background)
                a
                    color: var(--default-text-color)
            &.disable
                background: var(--admin-page-division-list-disable-background)
                a
                    text-decoration: line-through
                    cursor: default
                &:hover
                    background: var(--admin-page-division-list-disable-background)
                    a
                        color: var(--pre-default-text-color)
            &.active
                background: var(--admin-page-division-list-hover-background)
                a
                    color: var(--default-text-color)
