a
    text-decoration: none

a.default
    font-size: 1rem
    color: var(--pre-default)
    text-decoration: none
    font-style: italic
    cursor: pointer
    transition: var(--all-transition)
    &:hover
        color: var(--color-text-default)
a.disabled
    color: gray
    text-decoration: line-through

