.burger-box
    width: 25px
    height: 25px
    input
        display: none
    .burger div
        background: var(--header-bottom-color)
    &:hover .burger div
        background: var(--header-bottom-color-hover)
    .burger
        display: flex
        flex-direction: column
        gap: 5px
        align-items: center
        justify-content: center
        height: 100%
        width: 100%
        cursor: pointer
        position: relative
        div
            width: 100%
            height: 3px
            border-radius: 1px
            transition: var(--all-transition)
            position: relative
    #burger-check:checked ~ .burger div
        &:first-child
            position: absolute
            transform: rotate(225deg)
        &:nth-child(2)
            display: none
        &:last-child
            position: absolute
            transform: rotate(-225deg)



