.counter
    position: absolute
    top: 5px
    right: 5px
    width: 17px
    height: 17px
    border-radius: 50%
    font-size: 11px
    color: white
    font-weight: bold
    display: none
    justify-content: center
    align-content: center
    border: 1px solid #ad0000
    background: red
    &.active
        display: grid
