.fa-file-pdf-o
    color: red
.fa-file-code-o
    background: linear-gradient(45deg, #c58e16 33%, #24df4c 66%, #04ac1a)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
.fa-file-excel-o
    color: #1c8a00
.fa-file-word-o
    color: blue
// .fa-archive
//     background: linear-gradient(0deg, blue 15%, green 30%, #f3ef00)
//     -webkit-background-clip: text
//     -webkit-text-fill-color: transparent
.fa-file-powerpoint-o
    color: orange
.fa-file-text-o
    color: white
