@import './filter.sass'

.table-options
    width: 100%
    padding: 10px 25px

    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    background: var(--background-color-default)
    form.search
        width: 350px
        display: flex
        justify-content: center
        align-items: center
        gap: 10px
        input[type="search"]
            width: 250px
            height: 25px
            padding: 0 7px
            background: var(--background-color-input)
            border: var(--border-default)
            outline: none
            color: var(--color-text-pre-default)
        input[type="submit"]
            width: 75px
