.filters
    display: flex
    gap: 5px
    position: relative
    ul
        display: flex
        gap: 5px
        li
            list-style: none
            label.preview
                width: initial
                padding: 0 10px
                border-radius: 7px
                height: 35px
                display: flex
                gap: 5px
                justify-content: center
                align-items: center
                background: var(--background-color-input-disabled)
                cursor: pointer
                span, i
                    font-size: 0.9rem
                    font-weight: bold
                    color: var(--color-text-pre-default)
                    transition: var(--all-transition)
                input
                    display: none
                &:hover
                    span, i
                        color: var(--color-text-default)
            .box
                width: 300px
                position: absolute
                top: calc( 100% + 15px )
                right: 0
                background: var(--background-color-input)
                z-index: 10

                display: grid
                grid-template-rows: 40px auto
                transition: var(--all-transition)

                overflow: hidden
                max-height: 0
                padding: 0 5px
                box-shadow: none
                &.open
                    max-height: 440px
                    padding: 5px
                    box-shadow: var(--shadow-default)
                .search
                    width: 100%
                    height: auto
                    padding: 5px
                    input
                        width: 100%
                        padding: 3px 5px
                        outline: none
                        border: var(--border-default)
                        background: var(--background-color-input)
                        border-radius: 7px
                        color: var(--color-text-pre-default)
                .list
                    max-height: 380px
                    display: flex
                    flex-direction: column
                    overflow-y: auto
                    label
                        display: flex
                        gap: 5px
                        transition: var(--all-transition)
                        cursor: pointer
                        padding: 5px 5px
                        border-radius: 5px
                        &:hover
                            background: var(--background-color-table-even)
                        input, span
                            font-size: 0.9rem
                            color: var(--color-text-pre-default)

    input[type='submit'],
    input[type='reset']
        height: 35px
