.table-options .search-box
    width: 350px
    height: 100%
    form
        padding: 0 15px
        flex-direction: row
        min-width: auto
        input[type="search"]
            flex: 1
        input[type="submit"]
            width: auto