@use '../../../../../abstracts' as *

.input-box.multi-select-widjet
    position: relative

    display: flex
    gap: 3px
    flex-wrap: wrap
    label
        width: 100%
        font-weight: bold
        font-size: .9rem
    .preview
        flex: 1
        height: 30px
        padding: 5px 10px

        display: flex
        justify-content: space-between

        font-size: 1rem
        color: var(--text-color)

        background: var(--input-background)
        border: 1px solid var(--input-border-color)

        border-radius: 7px

        cursor: pointer
        svg
            transition: .5s
        &:hover svg
            transform: rotate(360deg)

    .list-box
        position: absolute
        top: calc(100% + 10px)
        left: 0
        width: 100%

        border-radius: 7px

        overflow: hidden
        max-height: 0

        background: var(--input-background)
        border: none
        transition: .5s
        &.open
            max-height: 350px
            border: 1px solid var(--input-border-color)
        .search
            width: 100%
            padding: 5px 10px
            input
                width: 100%
        .select-all-box label
            display: flex
            align-items: center
            gap: 5px
            padding: 0 7px
            transition: .5s
            cursor: pointer
            span
                color: inherit
                font-size: .9rem
            &:hover
                background: var(--input-item-background)
                color: var(--text-color-hover)
        ul.list
            overflow-y: auto
            padding-bottom: 5px
            max-height: 310px
            @include scroll
            .group-box
                .group-name
                    padding: 3px 10px
                    font-weight: bold
                ul li label
                    padding: 7px 7px 7px 20px
            li label
                display: flex
                align-items: center
                gap: 5px
                width: 100%
                height: 100%
                padding: 7px

                cursor: pointer
                background: var(--input-background)
                transition: .5s
                span
                    color: inherit
                    font-size: .9rem
                input
                    height: auto
                &:hover
                    background: var(--input-item-background)
                    color: var(--text-color-hover)