.message-box
    width: 100%
    height: auto
    ul
        width: 100%
        padding: 5px 10px
        display: flex
        flex-direction: column
        gap: 1px
        //border-radius: 7px
        &.errors
            background-color: #ffc6c6
            color: #9b0000
        &.message
            background-color: #c6ffc6
            color: #002c00
        li
            list-style: disc inside
            font-size: 1rem
            font-style: italic
            font-weight: bold
            color: inherit

.table-box .message-box
    border-radius: 0
.form-box .message-box ul
    border-radius: 7px
