.popup-box .popup .image
    max-width: 90%
    max-height: 90%
    display: flex
    justify-content: center
    align-items: center
    img
        min-width: 250px
        width: auto
        max-width: 100%
        min-height: 250px
        height: auto
        max-height: 100%