:root
    --palette-color-1: rgb(25, 34, 48)
    --palette-color-2: rgb(20, 25, 35)
    --palette-color-3: rgb(34, 40, 54)
    --palette-color-4: #486D94
    --palette-color-5: #5C7894

    --text-color: #ddd
    --text-color-hover: #fff
    --disabled-text-color: #fff

    // BODY
    --body-background: var(--palette-color-3)
    --scroll-background: var(--palette-color-2)
    --scroll-color: var(--palette-color-5)

    // HEADER
    --header-background-top: var(--palette-color-1)
    --header-background-bottom: var(--palette-color-2)
    --header-shadow-color: var(--palette-color-4)
    --header-text-color: var(--text-color)
    --header-text-color-hover: var(--text-color-hover)

    // FORM
    --form-background: var(--body-background)
    --form-shadow: 2px 2px 12px 8px var(--palette-color-2)

    --form-error-background: rgb(255, 121, 121)
    --form-error-color: rgb(172, 0, 0)

    --input-border-color: var(--palette-color-4)
    --input-border-color-focus: var(--palette-color-5)
    --input-background: var(--palette-color-3)
    --input-item-background: var(--palette-color-4)

    // BUTTON
    --blue-button-background-color: #234381
    --blue-button-background-color-hover: #2e55a3

    --red-button-background-color:rgb(129, 35, 35)
    --red-button-background-color-hover:rgb(163, 46, 46)

    // SCROLLER-PAGE
    --navigation-background: var(--palette-color-3)
    --navigation-background-hover: var(--palette-color-4)

    //CHAT
    --message-background: #0f368b
    --message-own-background: #423c55