:root
    --palette-color-1: rgb(25, 34, 48)
    --palette-color-2: rgb(20, 25, 35)
    --palette-color-3: rgb(34, 40, 54)
    --palette-color-4: #486D94
    --palette-color-5: #5C7894

    --text-color: #aaa
    --text-color-hover: #fff
    --disabled-text-color: #fff

    // BODY
    --body-background: var(--palette-color-3)

    // FORM
    --form-shadow: 2px 2px 12px 8px var(--palette-color-2)

    --form-error-background: rgb(255, 121, 121)
    --form-error-color: rgb(172, 0, 0)

    --input-border-color: var(--palette-color-4)
    --input-border-color-focus: var(--palette-color-5)
    --input-background: var(--palette-color-3)

    // BUTTON
    --blue-button-background-color: #234381
    --blue-button-background-color-hover: #2e55a3

    --red-button-background-color:rgb(129, 35, 35)
    --red-button-background-color-hover:rgb(163, 46, 46)
