.form-box
    width: 100%
    height: 100%
    max-height: 100%
    &.center
        display: flex
    form
        margin: auto
        width: auto
        max-width: 100%
        min-width: 500px
        padding: 30px 25px
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        gap: 10px
        border-radius: 9px
        &.shadow
            box-shadow: var(--shadow-default)
        .form-header
            width: 100%
            font-size: 1.2rem
            text-align: center
            color: var(--color-text-default)
            font-weight: 500
        label
            display: flex
            flex-direction: column
            gap: 5px
            span
                padding-left: 7px
                color: var(--color-text-default)
                font-size: 1rem
                font-weight: bold
                font-style: italic
            input,select,textarea
                padding: 4px 7px
                border: var(--border-default)
                color: var(--color-text-default)
                outline: none
                border-radius: 7px
                font-size: .9rem
                transition: var(--all-transition)
        .sbm-box
            width: 100%
            height: auto
            display: grid
            input
                height: 100%
                transition: var(--all-transition)
            input.close
                overflow: hidden
                height: 0
                padding: 0
        .other-box
            display: flex
            flex-direction: column
            gap: 5px
            p,a
                font-size: .9rem
