input,select,textarea
    padding: var(--input-padding)

    background: var(--input-backgroun-color)
    border: var(--default-border)
    border-radius: 7px
    outline: none

    color: var(--input-text-color)
    font-size: var(--input-font-size)
    transition: var(--all-transition)

    -moz-appearance: textfield
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
        display: none
        -webkit-appearance: none
        margin: 0
    &[disabled]
        background: var(--input-disable-backgroun-color)
        color: var(--input-disabled-text-color)
    &.center
        text-align: center
form
    label
        display: flex
        flex-direction: column
        gap: 5px
        &.horizontal
            flex-direction: row
        span, i
            padding: var(--label-header-padding)
            color: var(--default-text-color)
            font-size: var(--default-font-size)
            font-weight: bold
            font-style: italic
    .file-list
        display: flex
        flex-wrap: wrap
        gap: 5px

        li
            width: 50px
            height: 50px
            background: var(--file-list-background)
            border-radius: 7px
            overflow: hidden
            display: flex
            justify-content: center
            align-items: center
            transition: var(--all-transition)
            &:hover
                background: var(--file-list-hover-background)
            img
                width: 100%
                max-width: 100%
                height: 100%
                max-height: 100%
            i
                padding: 0
                font-size: 24px
                color: var(--pre-default-text-color)
                transition: var(--all-transition)
            &.file-list-add-box
                position: relative
                label
                    width: 100%
                    height: 100%
                    display: flex
                    justify-content: center
                    align-items: center
                    cursor: pointer
                    input
                        display: none
                    &:hover i
                        color: var(--default-text-color)
        .files,
        .example
            display: none
    label.file-button
        justify-content: center
        align-items: center
        i
            padding: 0
            font-size: 20px
        input
            display: none
