.sheets
    height: var(--sheet-list-height)
    border-top: var(--border-default)
    ul
        width: 100%
        max-width: 100vw
        overflow-x: auto
        overflow-y: hidden
        display: flex
        justify-content: start
        align-items: center
        height: 100%
        background: var(--background-color-table-even)
        li
            list-style: none
            width: initial
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            border-right: var(--border-default)
            a
                display: block
                padding: 0 3px
                width: initial
                height: 100%
                font-size: .75rem
                font-weight: 500
                display: flex
                justify-content: center
                align-items: center
                white-space: nowrap
                color: var(--color-text-pre-default)
                transition: var(--all-transition)
                &.opened, &:hover
                    color: var(--color-text-default)
                    background: var(--background-color-default)


