html[them="dark"]:root
    /* ### COLOR ### */

    /* --- TEXT --- */
    --color-text-default: #eee
    --color-text-pre-default: #bbb
    --color-text-offsite: #222
    --color-text-pre-offsite: #888
    --color-text-blue: var(--color-text-default)
    --excel-header-color: var(--color-text-pre-default)
    --header-top-color-hover: var(--color-text-default)

    /* --- BACKGORUND --- */
    --background-blue-color: rgb(22, 49, 107)
    --background-blue-color-hover: rgb(70, 90, 140)
    --background-red-color: rgb(210, 60, 60)
    --background-red-color-hover: rgb(210, 90, 90)
    --background-gray-color: rgb(42, 46, 54)
    --background-gray-color-hover: #bbb
    --background-white-color: var(--background-color-default)
    
    --background-color-input: rgb(20, 25, 35)
    --background-color-input-disabled: rgb(20, 25, 35)

    --background-color-default: rgb(25, 34, 48)
    --background-color-pre-default: rgb(34, 40, 54)
    --background-color-new-alert: rgb(36, 48, 75)
    --background-color-table-even: rgb(34, 40, 54)
    --background-color-header: rgb(20, 25, 35)

    /* ### SHADOW ### */
    --header-shadow-color: rgb(47, 55, 70)


    
    /* ### NEW ### */

    /* ### COLOR ### */

    /* --- TEXT --- */
    --color-text-default: #eee
    --color-text-pre-default: #bbb

    /* --- BACKGORUND --- */
    --background-color-default: rgb(25, 34, 48)
    --background-color-pre-default: rgb(34, 40, 54)
