html[them="light"]:root
    /* ### COLOR ### */

    /* --- TEXT --- */
    --color-text-default: #222
    --color-text-pre-default: #444
    --color-text-offsite: #eee
    --color-text-pre-offsite: #aaa
    --color-text-blue: rgb(15, 55, 140)
    --excel-header-color: var(--color-text-offsite)

    /* --- BACKGORUND --- */
    --background-blue-color: rgb(15, 55, 140)
    --background-blue-color-hover: rgb(70, 90, 140)
    --background-red-color: rgb(210, 60, 60)
    --background-red-color-hover: rgb(210, 90, 90)
    --background-gray-color: #999
    --background-gray-color-hover: #bbb
    --background-color-green: rgb(200, 255, 170)
    --background-color-yellow: rgb(250, 255, 200)

    --background-color-input: #fff
    --background-color-input-disabled: #ccc

    --background-color-default: #fff
    --background-color-table-even: #eee
    --background-color-header: #131725

    /* ### SHADOW ### */
    --header-shadow-color: #999