.text-label
    display: flex
    flex-direction: column
    padding: 5px 0
    
    color: var(--color-text-default)
    .label
        font-weight: bold
        font-style: italic
    .value
        padding-left: 10px