header
    position: relative
    height: calc( var(--header-top-height) + var(--header-bottom-height) )
    display: flex
    flex-direction: column
    box-shadow: var(--bottom-only-shadow)
    z-index: 99
