header
    .top
        height: var(--header-top-height)
        position: relative
        padding: var(--header-padding)
        display: flex
        justify-content: space-between
        align-items: center
        background: var(--header-top-backgroun-color)
        color: var(--header-top-color)
    a
        transition: var(--all-transition)
    a.logo-link
        font-size: var(--big-font-size)
        color: inherit
        strong
            font-size: var(--header-strong-font-size)
        &:hover
            color: var(--header-top-hover-color)
    .user
        width: auto
        display: flex
        justify-content: flex-end
        align-items: center
        gap: 10px
        a.user-name
            color: inherit
            display: flex
            align-items: center
            gap: 5px
            img
                height: 35px
                width: auto
            span
                font-size: var(--big-font-size)
                font-weight: bold
            &:hover
                color: var(--header-top-hover-color)
