.button
    border: none
    padding: 5px 15px
    border-radius: 7px
    font-weight: bold
    font-size: .95rem
    cursor: pointer
    transition: .5s

.blue-button
    background: var(--blue-button-background-color)
    color: var(--text-color)
    &:hover
        background: var(--blue-button-background-color-hover)
        color: var(--text-color-hover)

.red-button
    background: var(--red-button-background-color)
    color: var(--text-color)
    &:hover
        background: var(--red-button-background-color-hover)
        color: var(--text-color-hover)
