.info-page-box
    height: 100%
    display: grid
    grid-auto-flow: column
    grid-template-columns: 400px auto
    .nav-list-box
        height: 100%
        padding: 50px 25px
        .nav-list
            position: sticky
            top: 50px
            width: 100%
            height: auto
            max-height: 100%
            display: flex
            flex-direction: column
            gap: 7px
            border: 1px solid var(--modul-color)
            border-radius: 15px
            padding: 20px
            li
                list-style: none
                a
                    width: initial
                    color: var(--modul-color)
                    position: relative
                    text-decoration: none
                    &::after
                        content: ''
                        position: absolute
                        display: block
                        width: 0
                        height: 2px
                        background: var(--modul-color)
                        transition: var(--all-transition)
                    &:hover
                        &::after
                            width: 100%
    .content
        .dashboard-box
            padding: 15px 25px
            .header
                width: 100%
                height: auto
                text-align: center
                padding: 10px 0
                a
                    font-size: 1.4rem
                    color: var(--color-text-pre-default)
                    text-decoration: none
                    position: relative
                    transition: var(--all-transition)
                    &::before
                        content: ''
                        width: 100%
                        height: 2px
                        position: absolute
                        left: 0
                        bottom: 5px
                        background: var(--color-text-pre-default)
                        transition: var(--all-transition)
                    &:hover
                        color: var(--color-text-default)
                        &::before
                            background: var(--color-text-default)
            form
                width: 400px
            .image-box
                display: flex
                justify-content: center
                align-items: center
                .image
                    width: 250px
                    height: 250px
                    display: flex
                    justify-content: center
                    align-items: center
                    border-radius: 50%
                    overflow: hidden
                    position: relative
                    cursor: pointer
                    img
                        width: 100%
                        height: 100%
                    .edit
                        position: absolute
                        top: 100%
                        left: 0
                        background: #eeeeeed7
                        backdrop-filter: blure(2px)
                        bottom: 0
                        border-radius: 50%
                        width: 100%
                        height: 100%

                        display: flex
                        justify-content: center
                        align-items: center
                        overflow: hidden
                        transition: var(--all-transition)
                    &:hover
                        .edit
                            top: 0
