.page-content .page-meny
    width: 100%
    height: 50px
    overflow: hidden
    background: var(--header-top-background-color)
    ul
        width: 100%
        height: 100%
        display: flex
        align-items: center
        gap: 15px
        padding: 0 50px
        li
            list-style: none
            a, input
                color: var(--excel-header-color)
                font-weight: 600
                font-size: 1.2rem
                transition: var(--all-transition)
                cursor: pointer
                &:not(.disabled):hover
                    color: white
            input
                background: none
                border: none
                outline: none
